html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 3rem;
  background-color: #f5f5f5;
  margin-top: 3rem;
}

.footer div.text-muted {
  margin: 1rem 0
}

@media (max-width: 575.98px) { 

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 4rem;
  background-color: #f5f5f5;
  margin-top: 4rem;
}

.footer div.text-muted {
  margin: 1.5rem 0
}

}
